
  
  .hero-header h1 {
    font-size: 3.8rem;
    font-weight: 800;
    line-height: 1.2;
    color: #000;
    margin-bottom: 3rem;
    letter-spacing: -0.02em;
    
  }
  
  .hero-header h1 span {
    display: inline-block;
    position: relative;
  }
  
  .hero-header h1 span::after {
    content: "";
    position: absolute;
    bottom: -0.6rem;
    left: 0;
    width: 120px;
    height: 2px;
    background-color: #000;
  }
  
  .hero-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
  }
  
  .hero-img-wrapper {
    flex: 1 1 45%;
    display: flex;
    justify-content: flex-start;
  }
  
  .hero-img-wrapper img {
    width: 100%;
    max-width: 480px;
    object-fit: cover;
    border: 1px solid #ccc;
  }
  
  .hero-text {
    flex: 1 1 45%;
    color: #000;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.05em;
    line-height: 1.7;
  }
  
  .separator {
    border: none;
    border-top: 1px solid #000;
    margin: 2rem 0;
  }
  
  .subscribe-link {
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 0.07em;
    text-decoration: none;
    color: #000;
  }
  
  .subscribe-link:hover {
    text-decoration: underline;
  }
  
  .hero-section{
    padding: 3rem;
  }