.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 40px;
    border-bottom: 1px solid #999;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background-color: #f6f6f6;
    width: 200%;
    position: relative;
    z-index: 10;
  }
  
  .navbar-left {
    font-weight: bold;
    font-size: 12px;
  }
  
  .navbar-center {
    display: flex;
    gap: 30px;
    padding-left: 29rem;
  }
  
  .nav-item {
    cursor: pointer;
    font-size: 11px;
    transition: opacity 0.2s ease;
  }
  
  .nav-item:hover {
    opacity: 0.7;
    text-decoration: underline;
  }
  
  .navbar-right {
    font-size: 10px;
  }
  
  .nav-link {
    text-decoration: underline;
    color: black;
    font-weight: 500;
    font-size: 10px;
  }
  
  .nav-link:hover {
    opacity: 0.7;
  }
  